@model DoormatWebSite.Models.Model.Slider

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="page-wrapper">
    <div>
        <h4>Slider</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Image)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Image)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SubTitle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SubTitle)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Subtitle1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Subtitle1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Subtitle2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Subtitle2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.languageType.Type)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.languageType.Type)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.SliderID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>