
<section>
    <div class="spacing no-spacing">
        <div class="container">
            <div class="fn-fct-wrp text-center theme-bg overlap125">
                <div class="remove-ext3">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-lg-3">
                            <div class="fn-fct-bx">
                                <span class="counter">@DoormatWebSite.Resources.Resource.HappyclientsNumber</span>
                                <h4 itemprop="headline">@DoormatWebSite.Resources.Resource.Happyclients</h4>
                                <i>@DoormatWebSite.Resources.Resource.HappyclientsSubtitle</i>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-lg-3">
                            <div class="fn-fct-bx">
                                <span class="counter">@DoormatWebSite.Resources.Resource.BackeryProductsNumber</span>
                                <h4 itemprop="headline">@DoormatWebSite.Resources.Resource.BackeryProducts</h4>
                                <i>@DoormatWebSite.Resources.Resource.BackeryProductsSubTitle</i>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-lg-3">
                            <div class="fn-fct-bx">
                                <span class="counter">@DoormatWebSite.Resources.Resource.PartnerstoresNumber</span>
                                <h4 itemprop="headline">@DoormatWebSite.Resources.Resource.Partnerstores</h4>
                                <i>@DoormatWebSite.Resources.Resource.PartnerstoresSubTitle</i>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-lg-3">
                            <div class="fn-fct-bx">
                                <span class="counter">@DoormatWebSite.Resources.Resource.YearexperienceNumber</span>
                                <h4 itemprop="headline">@DoormatWebSite.Resources.Resource.Yearexperience</h4>
                                <i>@DoormatWebSite.Resources.Resource.YearexperienceSubTitle</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

