@model DoormatWebSite.Models.Model.ourClients

@{
    ViewBag.Title = "Edit";
}

<div class="card">
    <div class="card-body">
        @using (Html.BeginForm("Edit", "ourClients", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
    
            <div class="form-horizontal">
       
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.id)

                <div class="form-group">
                    @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <img src="/PageImages/@Model.Image" class="thumb-sm" width="150px" />
                        <input type="file" name="imgUp" />
                        @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="@DoormatWebSite.Areas.Admin.Resource.Admin.Edit" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>


