@model DoormatWebSite.Models.Model.OurWorkGallery

@{
    ViewBag.Title = "Create";
}
<div class="card">
    <div class="card-body">
        @using (Html.BeginForm("Create", "OurWorkGalleries", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.OurWorkGalleryTypeid, "OurWorkGalleryTypeid", htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.DropDownList("OurWorkGalleryTypeid", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.OurWorkGalleryTypeid, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="col-md-12">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="validatedCustomFile" name="Image" required="">
                            <label class="custom-file-label" for="validatedCustomFile">@DoormatWebSite.Areas.Admin.Resource.Admin.Choosefile</label>
                            <div class="invalid-feedback">@DoormatWebSite.Areas.Admin.Resource.Admin.required</div>
                        </div>
                    </div>
                </div>
                

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-12">
                        <input type="submit" value="@DoormatWebSite.Areas.Admin.Resource.Admin.Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>
