@model DoormatWebSite.Models.Model.OurWorkGallery

@{
    ViewBag.Title = "Delete";
}
<div class="card">
    <div class="card-body">
        <h3>@DoormatWebSite.Areas.Admin.Resource.Admin.warningDelete</h3>
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Image)
                </dt>

                <dd>
                    <img src="/PageImages/@Model.Image" class="thumbnail" style="max-width: 150px" />
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.OurWorkGalleryType.Title)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OurWorkGalleryType.Title)
                </dd>

                

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="@DoormatWebSite.Areas.Admin.Resource.Admin.Delete" class="btn btn-default" /> |
                </div>
            }
        </div>
    </div>
</div>