
@{
    ViewBag.Title = "PlanSetting";
}



<div class="page-wrapper">
    <div class="card">
        <h2 class="card-header">PlanSetting</h2>
        <div class="card-body">
            @using (Html.BeginForm("PlanSetting", "Plans", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="exampleInputEmail1">@DoormatWebSite.Areas.Admin.Resource.Admin.Url</label>
                        <input type="text" class="form-control" id="text-inputt" placeholder="" name="URL" value="@ViewBag.Url">
                        <small id="Help" class="form-text text-muted">@DoormatWebSite.Areas.Admin.Resource.Admin.InterURL</small>
                    </div>
                    <div class="form-group">
                        <label>@DoormatWebSite.Areas.Admin.Resource.Admin.backgrand</label>
                        <img src="/PageImages/@ViewBag.backgrand" width="300px"/>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">@DoormatWebSite.Areas.Admin.Resource.Admin.Upload</span>
                            </div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputGroupFile01" name="imgupl">
                                <label class="custom-file-label" for="inputGroupFile01">@DoormatWebSite.Areas.Admin.Resource.Admin.Choosefile</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-12">
                            <input type="submit" value="@DoormatWebSite.Areas.Admin.Resource.Admin.save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</div>