@model IEnumerable<DoormatWebSite.Models.Model.OurService>

@{
                /**/

                ViewBag.Title = "Index";
}
<div class="page-wrapper">
    <div class="col-12">
        <div class="card">
            <h2 class="card-header">Index</h2>
            <div class="card-body">
                <p>
                    @Html.ActionLink(@DoormatWebSite.Areas.Admin.Resource.Admin.CreateNew, "Create")
                </p>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover toggle-circle footable-loaded footable tablet breakpoint">
                        <thead class="bg-primary text-white">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.image)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Title)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Subtitle)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Url)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.languageType.Type)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="border border-primary">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <img src="/PageImages/@item.image" class="thumbnail img-rounded" style="max-width: 120px" />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Subtitle)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Url)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.languageType.Type)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                                        <div class="card">
                                            <div class="card-body">
                                                <!-- sample modal content -->
                                                <div id="responsive-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                            </div>
                                                            <div class="modal-body" id="myModalBody">
                                                                <form></form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /.modal -->
                                                <a class="btn btn-sm btn-danger" data-toggle="modal" data-target="#responsive-modal" onclick="deleteGroup(@item.id)">
                                                    <i class="fas fa-trash-alt"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>



                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        function deleteGroup(id) {
            $.get("/Admin/OurServices/Delete/" + id, function(result) {
                $("#myModalBody").html(result);
            });
        }
    </script>
}

